@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(237, 240, 255);
}

body::-webkit-scrollbar{
    width: 10px;
}
  
body::-webkit-scrollbar-track{
    background: rgb(96, 96, 255);
}
  
body::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(238, 199, 199);
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);
}


/* Header */

header{
    background: rgb(85, 85, 255);
    width: 100%;
    height: 50px;
    filter: drop-shadow(0 0 10px black);
    position: fixed;
    z-index: 999;
}

.logo{
    line-height: 50px;
    margin-left: 20px;
    color: white;
}

/* Content */

.title{
    position: relative;
    top: 50px;
    padding: 5px;
    text-align: center;
    color: rgb(91, 95, 99);
}

.title h1{
    font-weight: 900;
}

.container-form{
    display: flex;
    justify-content: center;
}

form{
    position: relative;
    top: 50px;
    padding: 1vw;
    background: white;
    width: 50%;
    height: 110vh;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px rgb(133, 133, 133));
}

/* Input */

.input{
    position: relative;
    margin: 1.5rem 0;
    margin-bottom: 50px;
}

input{
    border: none;
    outline: none;
    padding-left: 0.75rem;
}

.input-text{
    font-size: 1.75rem;
    border-bottom: 2px solid rgb(144, 201, 189);
    transition: all 0.5s;
}

.input-text:hover{
    background: rgb(245, 244, 244);
}

.input-text + .border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: rgb(85, 85, 255);
    transition: 0.5s;
}
  
.input-text:focus + .border {
    width: 52%;
}

.input-select{
    width: 100%;
    margin-bottom: 50px;
}

select{
    font-weight: 200;
    font-size: 1.50rem;
    width: 50%;
    border: solid 2px rgb(144, 201, 189);
    border-radius: 5px;
    transition: all 0.5s;
}

select:hover{
    border: solid 2px rgb(123, 123, 255);
    background-color: rgb(214, 214, 214);
}

select:focus{
    border: solid 3px rgb(85, 85, 255);
}

.status{
    display: flex;
    justify-content: space-between;
    height: 90px;
    flex-direction: column;
}

.label{
    font-size: 1.75rem;
    font-weight: 200;  
    margin-left: 0.75rem;
    
}

input[type="radio"]{
    display: none;
}

.radio{
    position: relative;
    font-size: 1.50rem;
    padding: 10px;
    background-color: white;
    color: rgb(85, 85, 255);
    border: solid 2px rgb(85, 85, 255);
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
}

input[type="radio"]:checked + label.radio{
    background-color: #5555ff;
    color: white;
}

input[type="submit"]{
    margin: 50px;
    padding: 10px 50px;
    font-size: 1.75rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(85,85,255,1) 0%, rgba(0,255,248,1) 100%);
    color: white;
    font-weight: 900;
    border: solid 1px #4444df;
    box-shadow: 1px 1px rgb(0, 0, 0);
    text-shadow: 1px 1px black;
    transition: all 0.5s;
}

input[type="submit"]:hover{
    background: linear-gradient(90deg, rgb(113, 113, 255) 0%, rgb(252, 234, 234) 100%);
    filter: drop-shadow(1px 1px 5px rgb(66, 80, 161));
}

@media (max-width:500px){
    form{
        width: 90%;
    }
}
